/* Tabs.css */
.tabs {
  display: flex;
  overflow-x: auto;
  background: #c0c0c0;
  border-bottom: 1px solid #ddd;
  
}

.tab {
  flex: 1;
  text-align: center;
  padding: 12px 0;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  
}

.tab.active {
  border-bottom: 2px solid #1877f2;
  color: #1877f2;
  font-weight: bold;
}
